<p>listar-usuarios works!</p>
<table class="table">
  <tr>
    <th>ID</th>
    <th>nome</th>
    <th>sobrenome</th>
    <th>Idade</th>
    <th>Data nascimento</th>

    <th>Mostrar Dados</th>
  </tr>
  <!-- forEach diretiva estrutural-
    diretiva é um componente sem HTML que
     altera a estrutra de elementos HTML  -->
  <tr *ngFor="let dados of usuarios; let i = index">
    <td>{{ i + 1 }}</td>
    <td>{{ dados.nome }}</td>
    <td>{{ dados.sobrenome }}</td>
    <td>
      <span *ngIf="dados.idade <= 15" style="background-color: blue">{{
        dados.idade
      }}</span>
      <span *ngIf="dados.idade > 15" style="background-color: red">{{
        dados.idade
      }}</span>
    </td>
    <td>{{ dados.nascimento | date: "dd/MM/yyyy" }}</td>
    <td>
      <button class="btn btn-info" (click)="onUsuarioClick(dados)">
        Selecionar
      </button>
    </td>
  </tr>
</table>
<div class="alert-success" *ngIf="seEhMaiorQue18 && usuarioSelecionadoPai">
  A idade do usuário é maior ou igual a 18!
</div>

<div class="alert-danger" *ngIf="!seEhMaiorQue18 && usuarioSelecionadoPai">
  A idade do usuário é menor que 18!
</div>
<!-- O componente filho (app-detalhe-usuario) recebe os valor da variável "usuarioSelecionadoPai" (componente pai) -->
<app-detalhe-usuario
  [usuarioSelecionadoDetalhe]="usuarioSelecionadoPai"
  (emitirSeMaiorQue18)="metodoDoPai($event)"
>
</app-detalhe-usuario>
