<form [formGroup]="meuForm" (submit)="onSubmit()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      formControlName="email"
      [class.is-invalid]="isValid('email')"
    />
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
  </div>

  <app-field-error
    [deveMostrar]="isValid('email')"
    [controlFilho]="getControl('email')"
    fieldName="Email"
  ></app-field-error>

  <app-debug-form [controlFilho]="getControl('email')"></app-debug-form>

  <div class="mb-3">
    <label for="exampleInputnome1" class="form-label">nome</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputnome1"
      formControlName="nome"
      [class.is-invalid]="isValid('nome')"
    />
  </div>

  <app-field-error
    [deveMostrar]="isValid('nome')"
    [controlFilho]="getControl('nome')"
    fieldName="Senha"
  ></app-field-error>

  <app-debug-form [controlFilho]="getControl('nome')"></app-debug-form>

  <div class="mb-3 form-check">
    <input
      type="checkbox"
      class="form-check-input"
      id="exampleCheck1"
      formControlName="checkme"
    />
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <!--                                                // data binding -->
  <button type="submit" class="btn btn-primary" [disabled]="!meuForm.valid">
    Submit
  </button>
</form>
