<h2>Curso de Angular</h2>
<app-meu-primeiro> </app-meu-primeiro>
<!-- interpolação -->
{{ title }}
{{ nome }}
<!--  property binding for -->
<p [class]="cor">Meu parágrafo</p>
<!-- event binding-->
<button (click)="botaoClick()">Enviar</button>
<!-- forma didática
  <input type="text" (keyup)="inputKeyUp($event)" />
<p>{{ valorDigitado }}</p> -->

<!--  two wey-->
<!-- <input type="text" [(ngModel)]="valorDigitado" />
<p>{{ valorDigitado }}</p> -->

<p>
  <input type="text" [(ngModel)]="numeroCpf" />
  {{ resultado }}
</p>
<button (click)="testaCPF(numeroCpf)">verificar</button>
