<p>listar-alunos works!</p>
<div class="row">
  <div class="col-lg-12" style="text-align: right">
    <button
      class="btn btn-success"
      [routerLink]="['/alunos/new']"
      routerLinkActive="router-link-active"
    >
      Novo Aluno
    </button>
  </div>
</div>
<table class="table">
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Email</th>
    <th>Senha</th>
    <th>Usuario</th>
    <th>Cep</th>
    <th>Logradouro</th>
    <th>Numero</th>
    <th>Complemento</th>
    <th>Cidade</th>
    <th>Bairro</th>
    <th>Estado</th>
    <th>Ações</th>
  </tr>
  <tr *ngFor="let p of alunos">
    <td>{{ p.id }}</td>
    <td>{{ p.nome }}</td>
    <td>{{ p.email }}</td>
    <td>{{ p.senha }}</td>
    <td>{{ p.tipo_usuario }}</td>
    <td>{{ p.cep }}</td>
    <td>{{ p.logradouro }}</td>
    <td>{{ p.numero }}</td>
    <td>{{ p.complemento }}</td>
    <td>{{ p.cidade }}</td>
    <td>{{ p.bairro }}</td>
    <td>{{ p.estado }}</td>
    <td>
      <button class="btn btn-outline-info" [routerLink]="['/alunos', p.id]">
        Editar
      </button>

      <button class="btn btn-outline-danger" (click)="onApagarClick(p)">
        Apagar
      </button>
    </td>
  </tr>
</table>
