<table class="table">
  <tr>
    <th>Nome</th>
    <th>URL</th>
    <th>Mostrar Dados</th>
  </tr>

  <tr
    *ngFor="
      let p of pokemons?.results
        | paginate
          : {
              itemsPerPage: this.itemsPerPage,
              currentPage: page,
              totalItems: pokemons?.count
            }
    "
  >
    <td>{{ p.name }}</td>
    <td>
      <a [href]="p.url" target="blank"> {{ p.url }} </a>
    </td>
    <td>
      <button class="btn btn-info" (click)="onSelecionarClick(p)">
        Selecionar
      </button>
    </td>
  </tr>
</table>

<pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
<div class="container">
  <p>Itens por página:</p>
  <select
    #quantidadeSelecionada
    class="form-select form-select-ms"
    [(ngModel)]="itemsPerPage"
    (change)="itemsPerPageSelect(quantidadeSelecionada.value)"
    id="sel1"
  >
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>
</div>
<p>A quantidade total de pokemons é igual a {{ pokemons?.count }}</p>
<p>
  {{ diaDeHoje | date: "dd/MM/yyyy" }}
</p>
<app-detalhe-pokemons
  *ngIf="pokemonSelecionadoPai"
  [pokemonSelecionadoDetalhe]="pokemonSelecionadoPai"
  (emitirIdPokemon)="receberIdFilho($event)"
></app-detalhe-pokemons>
