<table class="table">
  <tr>
    <th>Nome</th>
    <th>URL</th>
    <th>Mostrar Dados</th>
  </tr>

  <tr *ngFor="let p of pokemons.results">
    <td>{{ p.name }}</td>
    <td>
      <a [href]="p.url" target="blank"> {{ p.url }} </a>
    </td>
    <td>
      <button class="btn btn-info" (click)="onSelecionarClick(p)">
        Selecionar
      </button>
    </td>
  </tr>
</table>

<p>A quantidade de pokemons é igual a {{ pokemons.count }}</p>

<app-detalhe-pokemons
  *ngIf="pokemonSelecionadoPai"
  [pokemonSelecionadoDetalhe]="pokemonSelecionadoPai"
  (emitirIdPokemon)="receberIdFilho($event)"
></app-detalhe-pokemons>
